<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">pmt11cd3</property>
  <property name="hibernate.connection.url">jdbc:mysql://limitless-engage.cchjaguu68a3.us-west-2.rds.amazonaws.com:3306/llcdb?autoReconnect=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <!-- <mapping class="com.limitless.services.payment.PaymentService.dao.PaymentTxn"/> -->
  <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
  
  <!-- C3p0 -->
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">50</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">10</property>
  
  
  <!-- <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property> -->
  <mapping class="com.limitless.services.payment.PaymentService.dao.PaymentTxn"/>
  <mapping class="com.limitless.services.engage.dao.EngageCustomer"/>
  <mapping class="com.limitless.services.engage.dao.EngageSeller"/>
  <mapping class="com.limitless.services.payment.PaymentService.dao.PaymentCredit"/>
  <mapping class="com.limitless.services.engage.upi.dao.UpiOrder"/>
  <mapping class="com.limitless.services.payment.PaymentService.dao.PaymentSettlement"/>
  <mapping class="com.limitless.services.engage.dao.SellerDonation"/>
  <mapping class="com.limitless.services.engage.dao.Donation"/>
  <mapping class="com.limitless.services.payment.PaymentService.dao.CitrusAuthToken"/>
  <mapping class="com.limitless.services.engage.sellers.dao.CitrusSeller"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.SellerProduct"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.Product"/>
  <mapping class="com.limitless.services.engage.dao.SellerTemp"/>
  <mapping class="com.limitless.services.engage.upi.dao.UpiIciciCredit"/>
  <mapping class="com.limitless.services.engage.sellers.dao.SellerVersion"/>
  <mapping class="com.limitless.services.engage.dao.CustomerVersion"/>
  <mapping class="com.limitless.services.payment.PaymentService.dao.MasterTxn"/>
  <mapping class="com.limitless.services.engage.order.dao.Orders"/>
  <mapping class="com.limitless.services.engage.order.dao.OrderDetails"/>
  <mapping class="com.limitless.services.engage.dao.CustomerAddressBook"/>
  <mapping class="com.limitless.services.engage.order.dao.Cart"/>
  <mapping class="com.limitless.services.engage.order.dao.CartDetails"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.ProductInventory"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.ProductImages"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.ProductPricesMapper"/>
  <mapping class="com.limitless.services.engage.dao.SellerCustomerMapper"/>  
  <mapping class="com.limitless.services.engage.dao.SessionKeys"/>
  <mapping class="com.limitless.services.engage.dao.GuestUser"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.RestaurantCategory"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.RestaurantItems"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.RestaurantSubCategory"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.Restaurants"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.RestaurantOrderDetails"/>
  <mapping class="com.limitless.services.engage.restaurants.dao.RestaurantOrder"/>
  <mapping class="com.limitless.services.engage.dao.CircleNotify"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.ProductCategory"/>
  <mapping class="com.limitless.services.engage.sellers.product.dao.ProductSubcategory"/>
  <mapping class="com.limitless.services.engage.dao.SellerDeviceIdMapper"/>
  <mapping class="com.limitless.services.engage.dao.SellerPayamentsConfiguration"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.Broadcaster"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.BroadcasterAlbum"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.BroadcasterVideo"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.BroadcasterAlbumCategory"/>
  <mapping class="com.limitless.services.engage.bills.dao.Bills"/>
  <mapping class="com.limitless.services.engage.dao.SellerBrandPromotion"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.ViewersTrack"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.BroadcasterCategory"/>
  <mapping class="com.limitless.services.engage.dao.SellerPromoCode"/>
  <mapping class="com.limitless.services.engage.entertainment.dao.VideoBrandPromotion"/>
 </session-factory>
</hibernate-configuration>
